<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				My progress
				<div class="progress">
					<div 
						class="progress-bar bg-primary mb-2" 
						role="progressbar" 
						style="height: 15px" 
						[style.width]="getProgress(progress1)"
						role="progressbar">
					</div>
				</div>
				<div class="progress">
					<div 
						class="progress-bar bg-success" 
						role="progressbar" 
						style="height: 15px" 
						[style.width]="getProgress(progress2)"
						role="progressbar">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-6">
		<div class="card">
			<div class="card-body">
				<app-incrementer [progress]="progress1" 
								(emitProgressEvent)="progress1 = $event">
				</app-incrementer>
			</div>
		</div>
	</div>
	<div class="col-6">
		<div class="card">
			<div class="card-body">
				<app-incrementer [progress]="progress2" 
								(emitProgressEvent)="progress2 = $event">
				</app-incrementer>
			</div>
		</div>
	</div>
</div>
